.inp{
        height: 40px;
        width: 400px;
        border-radius: 7px;
        font-size: 25px;
}
#add{
        margin-left: 40px;
        height: 45px;
        width: 80px;
        border-radius: 7px;
        font-size: 25px;
}

.task{
        padding: 4px 20px;
        display: flex;
        width: 500px;
        background: #ffd4af;
        border-radius: 8px;
        margin-top: 20px;
        justify-content: space-between;
        align-items: center;
}
.task input{
        height: 25px;
        width: 25px;
}
.task button{
       height: 40px;
       width: 70px;
       border-radius: 5px;
       background: red; 
       border: none;
       color: white;
       font-weight: 600;
       font-size: 20px;
}
.task h2{
        font-weight: 400;
}

.navbar a{
        background: #fcd53f;
        margin: 5px;
        padding: 10px;
        text-decoration: none;
        color: #000;
}